name: 'Integration'
on:
  - push
  - pull_request
jobs:
  deploy:
    name: 'Deploy'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'Terraform Init'
        uses: schramm-famm/terraform-github-actions@thao/destroy
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'init'
          tf_actions_working_dir: 'terraform'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Terraform Apply'
        uses: schramm-famm/terraform-github-actions@thao/destroy
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'apply'
          tf_actions_working_dir: 'terraform'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TF_VAR_name: 'github'
          TF_VAR_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          TF_VAR_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TF_VAR_docdb_user: 'github'
          TF_VAR_docdb_pw: ${{ secrets.DOCDB_PW }}
      - name: 'Terraform Destroy'
        uses: schramm-famm/terraform-github-actions@thao/destroy
        with:
          tf_actions_version: 0.12.13
          tf_actions_subcommand: 'destroy'
          tf_actions_working_dir: 'terraform'
